*.pyc
*.sqlite3
.bundle/
.DS_Store
.sublime-*
/media/
/static/
__pycache__
build/
node_modules/
nohup.out
npm-debug.log
pip-log.txt
public
rev-manifest.json
tmp/
virtualenv/
gallery/static/**
*.log
docker-compose.secret.yml
.env
*.sql
