.AlbumView-row {
  overflow: hidden;
  white-space: nowrap;
}

.PictureTile {
  border: 1px solid black;
  display: inline-block;
  position: relative;
}

.PictureTile:hover {
  border: 1px solid #888;
}

.PictureTile img {
  width: 100%;
  height: 100%;
}

.PictureTile-title {
  position: absolute;
  bottom: 0px;
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  padding-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.TextContent {
    background: white;
    color: #333;
    padding-top: 36px;
    padding-bottom: 20px;
}
