beautifulsoup4~=4.7.1
celery[redis]~=4.3.0
django-environ~=0.4.5
django-mptt~=0.10.0
Django~=1.11.21
ipython~=7.5.0
Pillow~=6.0.0
python-memcached~=1.59
git+https://github.com/conikuvat/django-admin-multiupload.git@limitconcurrentuploads#egg=django-admin-multiupload
requests-oauthlib~=1.2.0
requests~=2.22.0
django-ckeditor~=5.7.1
