beautifulsoup4
celery
django-environ
django-mptt
django-redis
Django
Pillow
python-memcached
git+https://github.com/conikuvat/django-admin-multiupload.git@django3#egg=admin-multiupload
requests-oauthlib
requests
django-ckeditor
pip-tools
redis
