git+https://github.com/con2/django-admin-multiupload.git@django3#egg=admin-multiupload
beautifulsoup4
celery
Django
django-environ
django-mptt
django-prose-editor[sanitize]
django-redis
gunicorn
Pillow
pillow-avif-plugin
pip-tools
psycopg2
pydantic[email]
python-memcached
redis
requests
requests-oauthlib
