celery~=4.2.1
django-cavalry~=0.0.1
django-environ~=0.4.5
django-mptt~=0.9.1
Django~=1.11.18
ipython~=7.2.0
Pillow~=5.4.1
python-memcached~=1.58
git+git://github.com/conikuvat/django-admin-multiupload.git@limitconcurrentuploads#egg=django-admin-multiupload
requests-oauthlib~=1.1.0
requests~=2.21.0
django-ckeditor~=5.6.1
