.PictureView {
  position: fixed;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 60px 1fr 60px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.PictureView-icon {
  width: 48px;
  height: 48px;
  fill: #eee;
}

.PictureView-img {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.PictureView-nav {
  width: 100%;
  height: 100%;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transition: opacity 200ms;
}

.PictureView-nav:hover {
  opacity: 1.0;
  transition: opacity 200ms;
}


.PictureView-nav-previous {
  grid-column: 1;
}

.PictureView-nav-next {
  grid-column: 3;
}

.PictureView-action {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.PictureView-action-exit {
  grid-row: 1;
  grid-column: 1;
}

.PictureView-action-download {
  grid-row: 3;
  grid-column: 3;
}
